In [2]:
import requests
import pandas as pd
import io
from datetime import datetime
import os

In [3]:
url_museos = "https://datos.cultura.gob.ar/dataset/37305de4-3cce-4d4b-9d9a-fec3ca61d09f/resource/4207def0-2ff7-41d5-9095-d42ae8207a5d/download/museos_datosabiertos.csv"
url_cines = "https://datos.cultura.gob.ar/dataset/0560ef96-55ca-4026-b70a-d638e1541c05/resource/b8bf0459-16a5-430b-b8e1-4fb786572469/download/salas_cine.csv"
url_bibliotecas = "https://datos.cultura.gob.ar/dataset/37305de4-3cce-4d4b-9d9a-fec3ca61d09f/resource/01c6c048-dbeb-44e0-8efa-6944f73715d7/download/biblioteca_popular.csv"

In [4]:
today = datetime.now()
year_month = today.strftime('%Y-%B')

In [5]:
def extract(url, tipo):
    folder = os.path.join(tipo, year_month)
    os.makedirs(folder, exist_ok=True)
    filename = f"{tipo}-{today.strftime('%d-%m-%Y')}.csv"
    filepath = os.path.join(folder, filename)
    r = requests.get(url)
    with open(filepath, 'wb') as f:
        f.write(r.content)

In [49]:
extract(url_museos, "museos")
extract(url_bibliotecas, "bibliotecas")
folder = os.path.join("museos", year_month)
filename = f"museos-{today.strftime('%d-%m-%Y')}.csv"
filepath = os.path.join(folder, filename)
museos = pd.read_csv(filepath)

print(museos.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1182 entries, 0 to 1181
Data columns (total 24 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Cod_Loc              1182 non-null   int64
 1   IdProvincia          1182 non-null   int64
 2   IdDepartamento       1182 non-null   int64
 3   Observaciones        0 non-null      float64
 4   categoria            1182 non-null   object
 5   subcategoria         1049 non-null   object
 6   provincia            1182 non-null   object
 7   localidad            1182 non-null   object
 8   nombre               1182 non-null   object
 9   direccion            1164 non-null   object
 10  piso                 0 non-null      float64
 11  CP                   1116 non-null   object
 12  cod_area             989 non-null    float64
 13  telefono             988 non-null    object
 14  Mail                 264 non-null    object
 15  Web                  75 non-null     object
 16  Latitud              1182 non-null   float64
 17  Longitud             1182 non-null   float64
 18  TipoLatitudLongitud  1182 non-null   object
 19  Info_adicional       10 non-null     object
 20  fuente               1182 non-null   object
 21  jurisdiccion         1085 non-null   object
 22  año_inauguracion     643 non-null    float64
 23  actualizacion        1182 non-null   int64
dtypes: float64(6), int64(4), object(14)
memory usage: 221.8+ KB
None

In [53]:
columns_name=["cod_localidad", "id_provincia", "id_departamento","categoría",
              "provincia","localidad","nombre","domicilio","código postal","número de teléfono","mail","web"]
columns_rename = {
    'Cod_Loc':'cod_localidad',
    'IdProvincia':'id_provincia',
    'IdDepartamento':'id_departamento',
    'categoria':'categoría',
    'direccion':'domicilio',
    'CP':'código postal',
    'telefono':'número de teléfono',
    'Mail':'mail',
    'Web':'web'
}
museos.rename(columns=columns_rename, inplace=True)
museos=museos[columns_name]
museos.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1182 entries, 0 to 1181
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   cod_localidad       1182 non-null   int64
 1   id_provincia        1182 non-null   int64
 2   id_departamento     1182 non-null   int64
 3   categoría           1182 non-null   object
 4   provincia           1182 non-null   object
 5   localidad           1182 non-null   object
 6   nombre              1182 non-null   object
 7   domicilio           1164 non-null   object
 8   código postal       1116 non-null   object
 9   número de teléfono  988 non-null    object
 10  mail                264 non-null    object
 11  web                 75 non-null     object
dtypes: int64(3), object(9)
memory usage: 110.9+ KB

In [55]:
folder = os.path.join("cines", year_month)
filename = f"cines-{today.strftime('%d-%m-%Y')}.csv"
filepath = os.path.join(folder, filename)
cines = pd.read_csv(filepath)
cines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 329 entries, 0 to 328
Data columns (total 26 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Cod_Loc                329 non-null    int64
 1   IdProvincia            329 non-null    int64
 2   IdDepartamento         329 non-null    int64
 3   Observaciones          0 non-null      float64
 4   Categoría              329 non-null    object
 5   Provincia              329 non-null    object
 6   Departamento           329 non-null    object
 7   Localidad              329 non-null    object
 8   Nombre                 329 non-null    object
 9   Dirección              329 non-null    object
 10  Piso                   329 non-null    object
 11  CP                     329 non-null    int64
 12  cod_area               329 non-null    object
 13  Teléfono               329 non-null    object
 14  Mail                   329 non-null    object
 15  Web                    329 non-null    object
 16  Información adicional  0 non-null      float64
 17  Latitud                329 non-null    object
 18  Longitud               329 non-null    object
 19  TipoLatitudLongitud    329 non-null    object
 20  Fuente                 329 non-null    object
 21  tipo_gestion           329 non-null    object
 22  Pantallas              329 non-null    int64
 23  Butacas                329 non-null    int64
 24  espacio_INCAA          64 non-null     object
 25  año_actualizacion      329 non-null    int64
dtypes: float64(2), int64(7), object(17)
memory usage: 67.0+ KB

In [57]:
columns_rename = {
    'Cod_Loc':'cod_localidad',
    'IdProvincia':'id_provincia',
    'IdDepartamento':'id_departamento',
    'Categoría':'categoría',
    'Dirección':'domicilio',
    'CP':'código postal',
    'Teléfono':'número de teléfono',
    'Mail':'mail',
    'Web':'web',
    'Provincia':'provincia',
    'Localidad':'localidad',
    'Nombre':'nombre',
    
}
cines.rename(columns=columns_rename, inplace=True)
cines = cines[columns_name]
cines.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 329 entries, 0 to 328
Data columns (total 12 columns):
 #   Column              Non-Null Count  Dtype
---  ------              --------------  -----
 0   cod_localidad       329 non-null    int64
 1   id_provincia        329 non-null    int64
 2   id_departamento     329 non-null    int64
 3   categoría           329 non-null    object
 4   provincia           329 non-null    object
 5   localidad           329 non-null    object
 6   nombre              329 non-null    object
 7   domicilio           329 non-null    object
 8   código postal       329 non-null    int64
 9   número de teléfono  329 non-null    object
 10  mail                329 non-null    object
 11  web                 329 non-null    object
dtypes: int64(4), object(8)
memory usage: 31.0+ KB

In [58]:
folder = os.path.join("bibliotecas", year_month)
filename = f"bibliotecas-{today.strftime('%d-%m-%Y')}.csv"
filepath = os.path.join(folder, filename)
bibliotecas = pd.read_csv(filepath)
bibliotecas.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2017 entries, 0 to 2016
Data columns (total 25 columns):
 #   Column                 Non-Null Count  Dtype
---  ------                 --------------  -----
 0   Cod_Loc                2017 non-null   int64
 1   IdProvincia            2017 non-null   int64
 2   IdDepartamento         2017 non-null   int64
 3   Observacion            0 non-null      float64
 4   Categoría              2017 non-null   object
 5   Subcategoria           0 non-null      float64
 6   Provincia              2017 non-null   object
 7   Departamento           2017 non-null   object
 8   Localidad              2017 non-null   object
 9   Nombre                 2017 non-null   object
 10  Domicilio              2017 non-null   object
 11  Piso                   0 non-null      float64
 12  CP                     2017 non-null   object
 13  Cod_tel                2017 non-null   object
 14  Teléfono               2017 non-null   object
 15  Mail                   2017 non-null   object
 16  Web                    0 non-null      float64
 17  Información adicional  0 non-null      float64
 18  Latitud                2017 non-null   float64
 19  Longitud               2017 non-null   float64
 20  TipoLatitudLongitud    2017 non-null   object
 21  Fuente                 2017 non-null   object
 22  Tipo_gestion           2017 non-null   object
 23  año_inicio             2010 non-null   float64
 24  Año_actualizacion      2017 non-null   int64
dtypes: float64(8), int64(4), object(13)
memory usage: 394.1+ KB

In [59]:
columns_rename = {
    'Cod_Loc':'cod_localidad',
    'IdProvincia':'id_provincia',
    'IdDepartamento':'id_departamento',
    'Categoría':'categoría',
    'Domicilio':'domicilio',
    'CP':'código postal',
    'Teléfono':'número de teléfono',
    'Mail':'mail',
    'Web':'web',
    'Provincia':'provincia',
    'Localidad':'localidad',
    'Nombre':'nombre',
}
bibliotecas.rename(columns=columns_rename, inplace=True)
bibliotecas = bibliotecas[columns_name]
bibliotecas.head()

,cod_localidad,id_provincia,id_departamento,categoría,provincia,localidad,nombre,domicilio,código postal,número de teléfono,mail,web
0,70049060,70,70049,Bibliotecas Populares,San Juan,Rodeo,Biblioteca Popular Juan P. Garramuno,Santo Domingo,5465,s/d,s/d,NaN
1,2000010,2,2000,Bibliotecas Populares,Ciudad Autónoma de Buenos Aires,Ciudad de Buenos Aires,Biblioteca Popular Helena Larroque de Roffo,Simbrón 3058,C1417EUD,45010078,asociacionroffo@yahoo.com.ar,NaN
2,2000010,2,2000,Bibliotecas Populares,Ciudad Autónoma de Buenos Aires,Ciudad de Buenos Aires,Biblioteca Popular 12 de Octubre,Calle Arengreen 1187,C1405CYM,49880766,popular12deoctubre@hotmail.com,NaN
3,2000010,2,2000,Bibliotecas Populares,Ciudad Autónoma de Buenos Aires,Ciudad de Buenos Aires,Biblioteca Popular Villa Pueyrredón Norte,Cockrane 2334,C1419FMD,45729107,bibliotecapueyrredon@hotmail.com,NaN
4,2000010,2,2000,Bibliotecas Populares,Ciudad Autónoma de Buenos Aires,Ciudad de Buenos Aires,Biblioteca Popular Alberdi,Acevedo 666,C1414DJN,47753325,bibliotecapopularalberdi@yahoo.com.ar,NaN

In [87]:
#Concatenacion de los df (normalizacion)
df = pd.concat([museos, cines, bibliotecas], axis=0)
df[["categoría", "provincia"]]

                               categoría     provincia
0     Espacios de Exhibición Patrimonial  Buenos Aires
1     Espacios de Exhibición Patrimonial  Buenos Aires
2     Espacios de Exhibición Patrimonial  Buenos Aires
3     Espacios de Exhibición Patrimonial  Buenos Aires
4     Espacios de Exhibición Patrimonial  Buenos Aires
...                                  ...           ...
2012               Bibliotecas Populares     Río Negro
2013               Bibliotecas Populares      San Juan
2014               Bibliotecas Populares     Río Negro
2015               Bibliotecas Populares     Río Negro
2016               Bibliotecas Populares     Río Negro

[3528 rows x 2 columns]

In [74]:
#CANTIDAD DE REGISTROS TOTALES POR CATEGORIA
df.groupby("categoría", as_index=False).size()

                            categoría  size
0               Bibliotecas Populares  2017
1  Espacios de Exhibición Patrimonial  1182
2                       Salas de cine   329

In [79]:
#CANTIDAD DE REGISTROS TOTALES POR FUENTE
dfs = {'museos':museos, 'cines':cines, 'bibliotecas':bibliotecas}
lst = list()
for name, df in dfs.items():
    lst.append({'source': name, 'count':df.size})
pd.DataFrame(lst)

        source  count
0       museos  14184
1        cines   3948
2  bibliotecas  24204

In [89]:
#CANTIDAD DE REGISTROS POR PROVINCIA Y CATEGORIA
df.groupby(["provincia", "categoría"], as_index=False).size()

,provincia,categoría,size
0,Buenos Aires,Bibliotecas Populares,543
1,Buenos Aires,Espacios de Exhibición Patrimonial,152
2,Buenos Aires,Salas de cine,106
3,Catamarca,Bibliotecas Populares,38
4,Catamarca,Espacios de Exhibición Patrimonial,32
...,...,...,...
68,Tierra del Fuego,Salas de cine,3
69,"Tierra del Fuego, Antártida e Islas del Atlánt...",Espacios de Exhibición Patrimonial,14
70,Tucumán,Bibliotecas Populares,37
71,Tucumán,Espacios de Exhibición Patrimonial,26
72,Tucumán,Salas de cine,8